doctype html
html
    head
        title Homepage
        link( rel='stylesheet', type='text/css', href='all.css' )
    body
        h1 Homepage 
        script( src='jquery-2.2.0.min.js' )
        script( src='homepage.js' )
